<div id="comment" style="margin-top: 10px;"></div>
<script src="https://quericy-disqus.azurewebsites.net/dist/iDisqus.min.js"></script>
<script type="text/javascript">
var disq = new iDisqus('comment', {
    forum: 'quericy',
    api: 'https://quericy-disqus.azurewebsites.net/api',
    site: 'https://quericy.me',
    mode: 1,
    timeout: 3000,
    init: true
});
</script>
